
<div id="about-container" >
  {{>blurb}}
  
  <div class="card" style="margin: auto; margin-top: 30px; width: 50%;">
    <p>It's easy! Add and rate media! Write articles about your favorite things! Comment on them!</p>
    <br>
    <p>Come yell at your friends about how terrible their choices in media are!</p>
    <p>Discuss the latest mercy killings in Game of Thrones!</p>
    <p>Hate on Kanye, take swings at Billie Eilish, get on that wrecking ball with Miley!</p>
    <h4>Not even slightly moderated! Anything goes!</h4>
  </div>
</div>
