

<table class="table">
    <tr>
        <th class="table-row">Title</th>
        <th class="table-row">Creation Date</th>
        <th class="table-row">Creator</th>
    </tr>
    
    
    {{#each results}} 
    <tr>
        <td class="table-row"><a href="/article/{{this.articleID}}"  >{{this.title}}</a></td>
        <td class="table-row">{{this.creationDate}}</td>
        <td class="table-row">{{this.username}}</td>
    </tr>
    {{/each}}

</table>