<div id="article">
    <h1 class="article-title">{{title}}</h1>
    <div class="article-date">{{creationDate}}</div>
    <div class="article-author">{{username}}</div>
    <div class="article-body">{{body}}</div>
</div>

<div id="comments">
    {{!-- {{>comments}} --}}
</div>