<div id="home-container">
    {{>blurb}}
    
    <div>
      <h2>Current Hot Topics</h2>

      <table class="table">
        <tr>
          <th class="table-row">Title</th>
          <th class="table-row">Creator</th>
          <th class="table-row">Type</th>
        </tr>
        {{#each results}}
        <tr>
            <td class="table-row">{{this.Title}}</td>
            <td class="table-row">{{this.Creator}}</td>
            <td class="table-row">{{this.Type}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
    
</div>
