<div id="home-container">
    {{>blurb}}
    
    <div class="card" style="margin: auto; margin-top: 40px; margin-bottom: 50px; width: 40%; ">
      <h2 style="text-decoration: underline;">Current Hot Topics</h2>

      <table class="table">
        <tr>
          <th class="table-row table-header">Title</th>
          <th class="table-row table-header">Creator</th>
          <th class="table-row table-header">Type</th>
        </tr>
        {{#each results}}
        <tr>
            <td class="table-row"><a href="/media/{{mediaId}}">{{this.Title}}</a></td>
            <td class="table-row">{{this.Creator}}</td>
            <td class="table-row">{{this.Type}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
    
</div>
