<a href="/submit_media">Add new content!</a>

<div id="media">
    <h1 class="media-title">{{title}}</h1>
    <div class="media-type">{{type}}</div>
    <div class="media-creator">{{creator}}</div>
    <div class="media-description">{{description}}</div>
</div>
