<html>
    <body>
        <h1 id="page-title">
            Create New User Account
        </h1>

        <div id="form-parent">
            <form id="form" action="/createuser" method="post">
                <table>

                    <tr>
                        <td>Username</td>
                        <td><input type="text" name="username" placeholder="Username..."></td>
                    </tr>

                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="password" placeholder="Password..."></td>
                    </tr>

                    <tr>
                        <td>Confirm Password</td>
                        <td><input type="password" name "passwordConfirm" placeholder="Confirm password..."></td>
                    </tr>

                    <tr>
                        <td>Would you like to be a journalist?</td>
                        <td><input type="checkbox" name="isJournalist"></td>
                    </tr>
                </table>

                <input type="submit" value="Submit">
            </form>
        </div>

    </body>
</html>
