<div id="blurb" class="card">
    <h1>Welcome to HeardAbout</h1>
    <h3>It's the soon-to-be-number-one place on the web to talk about the hottest of today's media.</h3>
    <span id="join-ad"><a href="/newuser">Join us!</a> It's free!</span>
</div>