<div id="header">
    <span id="company-name">HeardAbout</span>
    <a href="/" class="header-item header-link">Home</a>
    <a href="/about" class="header-item header-link">About</a>
    <a href="/mediasearch" class="header-item header-link">MediaSearch</a>
    <a href="/articles" class="header-item header-link">Articles</a>

    <a href="/login_user"><button id="login" class="header-item header-login">Login</button></a>
    <button id="logout" class="header-item header-login hidden">Logout</button>
    <button id="display-profile" class="header-item header-login hidden">Account</button>
</div>
