<div id="header">
    <span id="company-name">HeardAbout</span>
    <a href="/home" class="header-button">Home</a>
    <a href="/about" class="header-button">About</a>
    <a href="/media" class="header-button">Media</a>
    <a href="/articles" class="header-button">Articles</a>
</div>