<div id="header">
    <span id="company-name">HeardAbout</span>
    <a href="/home" class="header-item header-link">Home</a>
    <a href="/about" class="header-item header-link">About</a>
    <a href="/media" class="header-item header-link">Media</a>
    <a href="/articles" class="header-item header-link">Articles</a>
    <a href="/dev" class="header-item header-link">DEV</a>

    <button id="login" class="header-item header-login">Login</button>
    <button href="/logout" id="logout" class="header-item header-login hidden">Logout</button>
    <button href="/account" id="display-profile" class="header-item header-login hidden">Account</button>
</div>