/*********************************
*         GLOBAL STYLING         *
**********************************/

* {
  --c-primary: #DB1F48;
  --c-primary-light: #E85E7C;
  --c-primary-lighter: #f8ced7;

  --c-secondary: #004369;
  --c-secondary-light: #8cd5ff;

  --c-tertiary: #01949A;
  --c-offwhite: #ebe8e1;

  --header-height: 50px;

  /* using two Google fonts, railway and archivo
      Archivo: body text, 
      Railway: website name and maybe headers
  */
  font-family: "Archivo", sans-serif; 
}

/*********************************
*      DEFAULT BODY STYLING      *
**********************************/


html, body {
  margin: 0px;
  padding: 0px;

  width: 100%;
  height: 100%;
  
  background: var(--c-offwhite);
}

.page-content { 
  padding: 20px;
}


/*********************************
*         HEADER STYLING         *
**********************************/

#header{
  width:100%;
  height: var(--header-height);
  border-bottom: var(--c-primary-light) solid 1px;
  position: relative;

  background: var(--c-primary);
}



#company-name {
  font-family: "Railway", sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 0px 0px 4px var(--c-offwhite);
  
  position: relative;
  padding: 20px;
  top: 7px;
  margin-right: 30px;
}

.header-item {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;;
}

.header-link {
  /* text-shadow: 0px 0px 1px white; */

  --b-width: 15px;
  --b-height: 5px;
  padding: var(--b-height) var(--b-width) var(--b-height) var(--b-width) ;

  text-decoration: none;
  position: relative;
  top: 5px;
  margin-left: 30px;
}

.header-link:hover {
  background: var(--c-primary-light);
  transition: 0.3s;
}

.header-link:active { 
  user-select: none;
  border: 1px solid black;
}

.header-login {
  border: 1px black solid;
  color: black;
  background: white;
  font-size: 16px;
  height: 100%;
  float: right;
  cursor: pointer;
}

.header-login:active {
  color: white;
  background: black;
}

/*********************************
*         FOOTER STYLING         *
**********************************/

#footer {
  position: fixed;
  background-attachment: scroll;
  background-position: 0% 0%;
  bottom: 0pt;
  left: 0pt;

  width: 100%;
  text-align: center;
  padding: 10px;
  background: white;
  color: gray;
  font-size: 14px;
}

/*********************************
*     PAGE SPECIFIC STYLING      *
**********************************/

/* ===error page=== */

#error {
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 8px black;
  
  text-align: center; 
  position: relative;
  top: 30px;
}

/* ===home page=== */

#home-container {
  margin: auto;
  width: auto;
  text-align: center;
}

.table-row {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.table-description {
  text-align: left;
}

.table {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px; 
}

/* ===about page=== */

#about-container {
  margin:auto; 
  width:auto; 
  text-align:center;
}


/* ===user display page===*/

#user-header {
  font-size: 30px;
  font-weight: bold;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 10px 2px 20px 2px;
}

#user-date {
  
}

/*********************************
*          MISC STYLING          *
**********************************/

#err-message {
  background: lightcoral;
  border: solid 4px red;
  border-radius: 5px;
  
  padding: 10px;
  font-size: 24px;
  width: auto;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  box-shadow: 0px 0px 8px gray;
}

.card {
  box-shadow: 2px 2px 8px gray;
  background: white;
  padding: 10px;
}

#blurb {
  padding: 10px;
  padding-bottom: 20px;
  margin:auto; 
  width:auto; 
}

.hidden {
  display: none;
}

.missing-articles {
  margin-top: 30px;
}

.verified-img {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}